$night: #1a2754;

.night {
  color: white !important;
  transition: ease .3s;

  .buttons {
    .btn:hover {
      background: white;
      color: $night;
    }
  }

  .main-image {
    background: url('../images/1.jpg') no-repeat center center fixed !important;
    transition: ease .3s;
    background-color: #496cbe !important;
    // background-color: #2b241d !important;
  }

  .paint {
    background: $night !important;
    transition: ease .3s;
  }
}
