$sunflower: #bfa419;

.sunflower {
  color: white;
  transition: ease .3s;

  .buttons {
    .btn:hover {
      background: white;
      color: $sunflower;
    }
  }

  .main-image {
    background: url('../images/3.jpg') no-repeat center center fixed !important;
    transition: ease .3s;
    background-color: #f1e486 !important;
  }

  .paint {
    background: $sunflower !important;
    transition: ease .3s;
  }
}
